<ion-header>

  <ion-navbar color="primary">
    <ion-title>Movie List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-buttons end>
    <button icon-only clear ion-button (click)=changeDisplay()>
      <ng-template #displayListButton>
        <ion-icon name="grid"></ion-icon>
      </ng-template>
      <ion-icon name="list" *ngIf="displayGrid; else displayListButton"></ion-icon>
    </button>
  </ion-buttons>

  <ion-grid *ngIf="displayGrid; else displayList">
    <ion-row>
      <ion-col col-4 *ngFor="let movie of movies">
        <img [src]="movie.poster_path" (click)="goToDetail(movie)" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #displayList>
    <ion-list>
      <ion-item *ngFor="let movie of movies" (click)="goToDetail(movie)">
        {{movie.title}}
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
