<ion-header>

  <ion-navbar color="primary">
    <ion-title>Movie List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-buttons end>
    <button icon-only clear ion-button (click)=changeDisplay()>
      <ion-icon name="grid" *ngIf="!grid"></ion-icon>
      <ion-icon name="list" *ngIf="grid"></ion-icon>
    </button>
  </ion-buttons>

  <ion-grid *ngIf="grid">
    <ion-row>
      <ion-col col-4 *ngFor="let movie of movies">
        <img [src]="movie.poster_path" (click)="goToDetail(movie)" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!grid">
    <ion-item *ngFor="let movie of movies" (click)="goToDetail(movie)">
      {{movie.title}}
    </ion-item>
  </ion-list>

</ion-content>
